@import url('https://fonts.googleapis.com/css?family=Jost');

/* --------------- NAVIGATION ------------------ */

/* .main-link {
} */

.dashboard, .components, .forms {
    font-size: 15.6px;
    font-family: 'Jost', sans-serif;
}

/* ----------------- CONTENT BOX ----------------- */

.box {
    width: 300px;
    height: 400px;
}

.title {
    font-size:6px;
    font-family: 'Jost', sans-serif;
}

.text {
    font-size: 12px;
    font-family: 'Jost', sans-serif;
}

/* ----------------- FORM BOX --------------------- */

.form-box {
    height: 51px;
    width: 272px;
    align-content: center;
}

/* ----------------- DROP DOWN BOX ----------------- */

